@page
@model JobTrackerWebApp.Pages.CRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Job Application DB</h1>

<p>
    <a asp-page="Create">Add a new job application</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Job) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
